// Custom.scss
$primary: teal;

$font-size-base: 0.9rem; // Decrease overall base font size

$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$input-box-shadow: none;
$input-focus-box-shadow: none;

$border-radius: 0.2rem;
$btn-border-radius: 0.375rem;
$input-border-radius: 0.2rem;

$btn-padding-y: 0.35rem;
$btn-padding-x: 0.75rem;

$alert-padding-y: 0.25rem;
$alert-padding-x: 0.75rem;
$alert-font-size: 0.85rem;
$alert-border-radius: 0.25rem;
$btn-close-width: 0.75rem;
$btn-close-height: 0.75rem;
$btn-close-padding-x: 0.25rem;
$btn-close-padding-y: 0.25rem;

@import "../../../../node_modules/bootstrap/scss/bootstrap";
