{% extends 'shared/project_base.html' %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css">
<style>
    pre code {
        font-size: 13px;
        line-height: 1.5;
        display: block;
        min-width: max-content;
    }
</style>
{% endblock styles %}


{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center mb-1">
            <div class="text-muted small text-truncate me-3">
                <i class="bi bi-chat-left-text me-1"></i>
                {{ repo_object.last_commit.author_name }} |
                {{ repo_object.last_commit.message|truncatechars:80 }}
            </div>
            <div class="text-muted small text-end">
                <i class="bi bi-git me-1"></i><code>{{ repo_object.last_commit.hash|slice:":8" }}</code> |
                {{ repo_object.last_commit.timestamp|naturaltime }}
            </div>
        </div>
    </li>
</ul>

<div class="code-container">
    <pre
        class="line-numbers"><code class="language-{{ repo_object.language }}">{{ repo_object.code|escape }}</code></pre>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
{% if repo_object.language != 'plaintext' %}
<script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-{{ repo_object.language }}.min.js"></script>
{% endif %}
{% endblock scripts %}