// 1. Font & base settings
$font-family-sans-serif: "Inter", sans-serif;
$font-size-base: 0.875rem; // 14px

// 2. Colors
$primary: #6F42C1;

// 3. Form controls
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-border-width: 2px;
$input-border-radius: 0.25rem;

// 4. Buttons (make more compact)
$btn-font-size: 0.8125rem;   // slightly smaller (13px)
$btn-padding-y: 0.375rem;    // tighten vertical padding
$btn-padding-x: 0.75rem;     // tighten horizontal padding
$btn-border-radius: 0.25rem; // match inputs

// 4. Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


// NProgress customizations
#nprogress .bar {
  background: $primary !important; // use your bootstrap primary (#6F42C1)
  height: 3px; // a bit bolder line
}

#nprogress .peg {
  box-shadow: 0 0 10px $primary, 0 0 5px $primary !important;
}

#nprogress .spinner {
  display: none !important; // hide the spinner if JS fails
}