// Custom.scss
// Option A: Include all of Bootstrap

// 1. Override Bootstrap variables BEFORE importing bootstrap
$primary: teal; // or use a specific shade e.g. #20c997

// Remove input and button box-shadows
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$input-box-shadow: none;
$input-focus-box-shadow: none;

// Sharpen border radii globally
$border-radius: 0.2rem;
$btn-border-radius: 0.2rem;
$input-border-radius: 0.2rem;

// Include any default variable overrides here (though functions won’t be available)

@import "../../../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here