{% extends 'shared/project_base.html' %}
{% load humanize %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css">
<style>
    pre code {
        font-size: 13px;
        line-height: 1.5;
        display: block;
        min-width: max-content;
    }
</style>
{% endblock styles %}


{% block content %}

{% include 'projects/_last_commit.html' %}

<div class="code-container">
    <pre
        class="line-numbers"><code class="language-{{ repo_object.language }}">{{ repo_object.code|escape }}</code></pre>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
{% if repo_object.language != 'plaintext' %}
<script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-{{ repo_object.language }}.min.js"></script>
{% endif %}
{% endblock scripts %}